.slide-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-image {
  height: 170px;
  width: 254px;

  border-radius: 8px;
}
@media (max-width: 767px) {
  .slider-image {
    height: 110px;
    width: 90px;
  }
  .slide-img-container {
  }
}
